:root {
    --color-text-primary: #DBDAD7;
    --color-text-secondary: #b7b0a7;
    --color-bg-primary: #1F1F1F;
    --color-bg-translucent: rgb(38 37 36 / 94%);
    --color-separator: #524D3C;
    --color-separator: #615B47;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--color-text-primary);
    text-shadow: 4px 4px 4px black;
    background-color: var(--color-bg-primary);
    background-image: url("~/assets/img/monastery-4169566_1920.jpg");
    background-position: center;
    transition:
        color 0.5s,
        background-color 0.5s;
    font-family: serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    transition: 0.1s;
}

a,
a:visited {
    color: var(--color-text-primary);
}

/* @media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
} */